<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Appointments List</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/style.css}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<style>
.profile-img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
}

.btn-circle {
	width: 32px;
	height: 32px;
	padding: 4px;
	border-radius: 50%;
	text-align: center;
}

.table td, .table th {
	vertical-align: middle;
}
</style>
</head>
<body>

	<div class="d-flex">
		<!-- Sidebar -->
		<div th:replace="~{fragments/header :: navbar}"></div>

		<!-- Main Content -->
		<div class="flex-grow-1 p-4">
			<div class="d-flex justify-content-between align-items-center mb-4">
				<h1 class="text-primary fw-bold">Appointments List</h1>

				<form action="/appointment" method="post"
					class="w-25 d-flex gap-1 justify-content-center align-items-center">
					<!-- Phone -->
					<div class=" w-50 border-black">
						<input type="text"
							class="form-control text-uppercase border-primary" id="id"
							name="id" placeholder="Enter id">
					</div>

					<!-- Buttons -->
					<div class="d-flex justify-content-between ">
						<button type="submit" class="btn btn-outline-primary me-2">Search</button>
					</div>
				</form>

				<div class="d-flex align-items-center gap-3">
					<!-- Sort By Dropdown -->
					<div class="dropdown">
						<button
							class="btn btn-outline-primary dropdown-toggle text-capitalize"
							type="button" id="sortDropdown" data-bs-toggle="dropdown"
							aria-expanded="false" th:text="${'Sort By '+ sortField +'  '}">Sort
							By</button>
						<ul class="dropdown-menu" aria-labelledby="sortDropdown">
							<li><a class="dropdown-item" th:href="@{/appointment}">ID</a></li>
							<li><a class="dropdown-item"
								th:href="@{/appointment(sortBy='status')}">Status</a></li>
						</ul>
					</div>
					<!-- Add New Doctor Button -->
					<a th:href="@{/appointment/add}" class="btn btn-outline-success">
						+ Add New Appointment </a>
				</div>
			</div>

			<div class="table-responsive">
				<table
					class="table table-striped table-hover table-bordered align-middle">
					<thead class="table-dark text-center">
						<tr>
							<th>ID</th>
							<th>Patient Name</th>
							<th>Doctor Name</th>
							<th>Date</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="appointment : ${appointments}">
							<td th:text="${appointment.id}"
								class="text-center text-uppercase"></td>

							<td>
								<div class="d-flex align-items-center gap-2">
									<img src="/images/profile.png" alt="Patient Image"
										class="profile-img"> <span
										th:text="${appointment.patient.name}"></span>
								</div>
							</td>

							<td>
								<div class="d-flex align-items-center gap-2">
									<img src="/images/profile.png" alt="Doctor Image"
										class="profile-img"> <span
										th:text="'Dr. ' + ${appointment.doctor.name}"></span>
								</div>
							</td>

							<td>
								<div
									class="d-flex align-items-center justify-content-center gap-2">
									<span th:text="${appointment.appointmentDate}">2025-04-30</span>
									<a th:if="${!appointment.status}"
										th:href="@{/appointment/edit-date/{id}(id=${appointment.id})}"
										class="btn btn-warning btn-sm btn-circle"> <i
										class="bi bi-pencil"></i>
									</a>
								</div>
							</td>

							<td>
								<div
									class="d-flex align-items-center justify-content-center gap-2">
									<span th:text="${appointment.status} ? 'Completed' : 'Pending'"
										th:classappend="${appointment.status} ? 'text-success' : 'text-danger'"></span>
									<a th:if="${!appointment.status}"
										th:href="@{/appointment/edit-status/{id}(id=${appointment.id})}"
										class="btn btn-warning btn-sm btn-circle"> <i
										class="bi bi-pencil"></i>
									</a>
								</div>
							</td>

							<td class="text-center"><a
								th:href="@{'/appointment/delete/' + ${appointment.id}}"
								class="btn btn-sm btn-circle"
								onclick="return confirm('Are you sure you want to delete this appointment?')"
								th:classappend="${!appointment.status} ? 'disabled btn-secondary' : 'btn-danger'"
								th:attr="disabled=${!appointment.status} ? 'disabled' : null">
									<i class="bi bi-trash"></i>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
